In [1]:
import pandas as pd
import sqlite3

In [2]:
wikiquestion5=pd.read_excel(r'E:\programming\Data Science Course\Group project files\flatten_data_table-main\wikipedia_dataset_flat.xlsx',sheet_name='sumvisitsday')
wikiquestion5

           Day          Sum
0       Monday   4904874589
1      Tuesday   4756253933
2    Wednesday   4676262684
3     Thursday   4571744908
4       Friday   4409637606
5     Saturday   4470285903
6       Sunday   4551448477
7  Grand Total  32340508100

In [3]:
conn=sqlite3.connect('Sum of Visits by Day.db')

In [4]:
c=conn.cursor()

In [5]:
create_table="CREATE TABLE totalvisitsday (Day TEXT,Sum INT)"

In [6]:
c.execute(create_table)
conn.commit()

In [7]:
wikiquestion5.to_sql('totalvisitsday',conn,if_exists='append',index=False)