In [4]:
import pandas as pd
import sqlite3

In [13]:
wikimonth=pd.read_excel(r'E:\programming\Data Science Course\Group project files\flatten_data_table-main\wikipedia_dataset_flat.xlsx',sheet_name='Sheet1')
wikimonth

   Month       Total
0    Jan  2431773351
1    Feb  2331861586
2    Mar  2322854631
3    Apr  2264685954
4    May  2331429881
5    Jun  2316551244
6    Jul  3632774005
7    Aug  4136704546
8    Sep  2691261254
9    Oct  2679925518
10   Nov  2603763693
11   Dec  2596922437

In [14]:
conn=sqlite3.connect('Sum of Visits Monthly.db')

In [15]:
c=conn.cursor()

In [16]:
reate_table="CREATE TABLE totalvisitsmonth (Month TEXT,Total INT)"

In [17]:
c.execute(reate_table)
conn.commit()

OperationalError: table totalvisitsmonth already exists

In [18]:
wikimonth.to_sql('totalvisitsmonth',conn,if_exists='append',index=False)